<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/pawan/Razorpay/razorpay/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-03T06:26:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5MsOVT5d8mht
								rfCNtCfPug==
								</data>
								<key>Size</key>
								<integer>1850</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1B2M2Y8AsgTp
								gAmY7PhCfg==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tY1vkka6dxXF
								bz+RxutuhA==
								</data>
								<key>Size</key>
								<integer>1940</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/pawan/Razorpay/razorpay/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-03T06:26:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								FV9GA7duR2s+
								DeyaHVtMUA==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								BzIzGqRvgU4/
								1+7517WbmQ==
								</data>
								<key>Size</key>
								<integer>215</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/pawan/Razorpay/razorpay/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-03T06:26:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5MsOVT5d8mht
								rfCNtCfPug==
								</data>
								<key>Size</key>
								<integer>1850</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Void - file:///Users/pawan/Razorpay/razorpay/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-03T06:26:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								p6ZwigKNPNFE
								qB/Lo4Ec7w==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Void</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Void</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGrCwwVFiAhIiUsLzNVJG51
				bGzTDQ4PEBIUV05TLmtleXNaTlMub2JqZWN0c1YkY2xh
				c3OhEYACoROAA4AKVG5vZGXVFxgZGg8bHB0eH1ROYW1l
				VWl0ZW1zWmlkZW50aWZpZXJYY2hpbGRyZW6ABYAIgASA
				BoAJXxAkMTFGNDA5OTUtODU1Ri00NDdGLUI3ODctMEM0
				NTFGMUE4MzQ4XxAPVW50aXRsZWQgRm9sZGVy0g4PIySg
				gAfSJicoKVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0
				YWJsZUFycmF5oygqK1dOU0FycmF5WE5TT2JqZWN00g4P
				LSSggAfSJicwMVxSV1NpdGVGb2xkZXKiMitcUldTaXRl
				Rm9sZGVy0iYnNDVcTlNEaWN0aW9uYXJ5ojQrAAgAEQAa
				ACQAKQAyADcASQBMAFEAUwBfAGUAbAB0AH8AhgCIAIoA
				jACOAJAAlQCgAKUAqwC2AL8AwQDDAMUAxwDJAPABAgEH
				AQgBCgEPARoBIwEyATYBPgFHAUwBTQFPAVQBYQFkAXEB
				dgGDAAAAAAAAAgEAAAAAAAAANgAAAAAAAAAAAAAAAAAA
				AYY=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://pawand.github.io/razorpay/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2022 Pawan Dixit</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.html</string>
						<string>index.htm</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va7QCAAAAAAQQMAAA
							APIBtCwLXqbh9I/3/HDn
							9QfP+rlLm94H/6pNmTgf
							QrAesAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAFAAAAAQEAAHBh
							d2FuAAAACAAAAAEBAABS
							YXpvcnBheQgAAAABAQAA
							cmF6b3JwYXkQAAAAAQYA
							ABAAAAAgAAAAMAAAAEAA
							AAAIAAAABAMAAIRcAAAA
							AAAACAAAAAQDAAD7xQMA
							AAAAAAgAAAAEAwAAqB2G
							AAAAAAAIAAAABAMAAJAh
							hgAAAAAAEAAAAAEGAABo
							AAAAeAAAAIgAAACYAAAA
							CAAAAAAEAABBxBCBCkaT
							khgAAAABAgAAAgAAAAAA
							AAAPAAAAAAAAAAAAAAAA
							AAAACAAAAAQDAAACAAAA
							AAAAAAQAAAADAwAA9QEA
							AAgAAAABCQAAZmlsZTov
							Ly8MAAAAAQEAAE1hY2lu
							dG9zaCBIRAgAAAAEAwAA
							AFChG3MAAAAIAAAAAAQA
							AEHD93s0gAAAJAAAAAEB
							AAAxM0ExQkY4My04RTUx
							LTQ5N0MtQTkxRS0xQTI1
							RjEzNEFCMUMYAAAAAQIA
							AIEAAAABAAAA7xMAAAEA
							AAAAAAAAAAAAAAEAAAAB
							AQAALwAAAAAAAAABBQAA
							zAAAAP7///8BAAAAAAAA
							ABAAAAAEEAAAUAAAAAAA
							AAAFEAAAqAAAAAAAAAAQ
							EAAA0AAAAAAAAABAEAAA
							wAAAAAAAAAACIAAAnAEA
							AAAAAAAFIAAADAEAAAAA
							AAAQIAAAHAEAAAAAAAAR
							IAAAUAEAAAAAAAASIAAA
							MAEAAAAAAAATIAAAQAEA
							AAAAAAAgIAAAfAEAAAAA
							AAAwIAAAqAEAAAAAAAAB
							wAAA8AAAAAAAAAARwAAA
							IAAAAAAAAAASwAAAAAEA
							AAAAAAAQ0AAABAAAAAAA
							AAA=
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Razorpay Git</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Void</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>C964B19A-CF7F-4D56-844A-6F85B15D501B_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
